:root {
    --primary-dark: #333;
    --primary-light: #f4eded;
    --secondary-light: #fdf7f7;
  }
  
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  font-family: 'Didot', serif;
  /* footer support */
  /* margin-bottom: 100px; */
  display: flex;
  flex-direction: column;
}

#header,
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  color: white;
  background-color: var(--primary-dark);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}
.gradient {
  background-color: red;
  background-image:
  linear-gradient( 
    red, 
    #f06d06, 
    rgb(255, 255, 0), 
    green
    );
    
  }
  
  #calc-container {
  box-shadow: 2px 2px black;
  width: 400px;
  margin: 0 auto 40px;
  padding: 20px;
  background-color: var(--primary-dark);
}

#Calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  grid-auto-rows: minmax(50px, auto);
}

#calc-display {
  background-color: var(--primary-light);
  grid-column: 1 / 5;
  text-align: right;
}

#firstOperand,
#operator,
#secondOperand {
  text-align: left;
}

#answer {
  text-align: right;
}

button {
  font-size: 20px;
}
button:hover {
  font-size: 110%;
  box-shadow: 2px 2px gray;
  background-color: var(--secondary-light);
}

#zero-btn {
  grid-column: 1 /3;
}


/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

.footer img {
  color: var(--primary-dark);
  width: 34px;
  height: 34px;
  transition: transform 0.3s ease-in-out;
}

.footer img:hover {
  transform: rotate(360deg) scale(1.2);
}

@media (max-width: 500px) {
  #calc-container {
    width: 80%;
  }
  #Calculator {
    min-width: 30px;
  }
}